/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! Utilis */

.flex{
    display: flex;
}

.border{
    border: 1px dashed black;
}

.img{
    max-width: 20%;
}

.button{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* ? container */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* ! Generic */

/* Header */

.bgc-header{
    background-color: #D2451E;
    padding: 20px;
}

.nav{
    justify-content: space-between;
}

.type{
    flex-basis: 10%;
    align-items: center;
    gap: 5px;   
}

.logo{
    flex-basis: 80%;
}

.recap{
    flex-basis: 10%;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

/* Main */

.bgc-main{
    background-color: #fff;
    padding: 20px;
}

.column{
    flex-wrap: wrap;
    margin: 0 -5px;   
}

.card{  
    flex-basis: calc(100% / 3);
    padding: 5px;
}

.card-img{
    max-width: 100%;
}

.name-brand{
    color: #66676E;
    font-size: 14px;
}

.name-item{
    color: black;
    text-transform: uppercase;
}

.price{
    font-size: 14px;
    gap: 5px;
}

.cost{
    color: red;    
}

.cost-discount{
    color: #66676E;
    text-decoration: line-through;
}

/* footer */

.bgc-footer{
    background-color: #000;
    border-bottom: 1px solid #fff;
    padding: 20px;
}

.info{
    height: 50px;
    justify-content: space-between;
}

.social-info{
    flex-basis: 20%;
}

.social-network{
    flex-basis: 20%;
}