/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! Utilis */

.flex{
    display: flex;
}

.border{
    border: 1px dashed black;
}

.img{
    max-width: 20%;
}

/* ? container */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* ! Generic */

/* Header */

.bgc-header{
    background-color: #D2451E;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.nav{
    justify-content: space-between;
}

.type{
    flex-basis: 10%;
    
}

.logo{
    flex-basis: 80%;
}

.recap{
    flex-basis: 10%;
}