/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! Utilis */

.flex{
    display: flex;
}

.border{
    border: 1px dashed black;
}

.img{
    max-width: 20%;
}

/* ? container */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* ! Generic */

/* Header */

.bgc-header{
    background-color: #D2451E;
    padding: 20px;
}

.nav{
    justify-content: space-between;
}

.type{
    flex-basis: 10%;   
}

.logo{
    flex-basis: 80%;
}

.recap{
    flex-basis: 10%;
}

/* Main */

.bgc-main{
    background-color: #fff;
    padding: 20px;
}

.card{
    height: 500px;
}

/* footer */

.bgc-footer{
    background-color: #000;
    border-bottom: 1px solid #fff;
    padding: 20px;
}

.info{
    height: 50px;
    justify-content: space-between;
}

.social-info{
    flex-basis: 20%;
}

.social-network{
    flex-basis: 20%;
}